*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 50px;
    color: rgb(255, 123, 0);
    overflow: hidden;


}
body
{
 background-color: rgb(253, 253, 77);
 background-image: url("wallpaperflare.com_wallpaper.jpg");
 background-size: cover;
 justify-content: center;
 align-items: center;
}

.title
{
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(0, 0, 0)
}

.btn
{
    position: fixed;
    top: 350px;
    left: 540px;
    cursor: pointer;
    
    

}

.btn button
{
    border: 5px solid greenyellow;
    border-radius: 20px;
    background-color:rgb(255, 0, 0);
    font-size: 50px;
    position: fixed;

}





.btn button:active
{
   
    background-color:rgb(10, 10, 190);
  

}




.Box .b1
{
    height: auto;
    width: 300px;
    word-wrap: normal;
    text-align: center;
    background-color: transparent;
    padding: 10px;
    border:none;

}


.Box .b2
{
    height:auto;
    width: 300px;
    word-wrap: normal;
    text-align: center;
    background-color: transparent;
  position: relative;
    right: 100px;
    padding: 20px;
    border:none;
}



#setup
{
    color: rgb(39, 181, 0);
    font-size: 1.2rem;
    border: 2px solid black;
    margin: 10px;
    font-weight: 700;
    background-color: rgb(255, 100, 100);
     border: none;
         border-radius: 20px;

    color: black;

}
#punchline
{
    color: rgb(47, 255, 57);
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 18, 138);
  

}
.Box
{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2px;
}